### constants
import pandas as pd
from sqlalchemy import create_engine

conn = "postgresql://{{ db_main_user }}:{{ postgre_pass }}@{{ db_host }}:{{ postgresql_port }}/{{ db_name }}"

file="{{ work_directory }}/traffic_density_202001.csv"
mydata = pd.read_csv(file, header = 0)

engine = create_engine(conn)

# Create an iterable that will read "chunksize=1000" rows
# at a time from the CSV file
def main():
  try:
      for df in pd.read_csv(file,names=mydata, skiprows=1, chunksize=1000):
        df.to_sql(
        'test99',
        engine,
        index=False,
        if_exists='replace' # if the table already exists, append this data
      )
  except Exception as error:
    print(error)


if __name__ == '__main__':
    main()
